@import "../../../index";
.home{
  width: 100%;
}
.block_home{
  margin-right: $margin;
  margin-left: $margin;
  display: flex;
  @media (max-width: 1300px) {
    flex-direction: column;
  }
}
.text_home{
  margin-top: calc($margin * 4);
  width: 50%;
  @media (max-width: 1300px) {
    width: 100%;
    margin-top: calc($margin - ($margin/2));
    text-align: center;
  }
}
.girl_home{
  width: 50vw;
  display: flex;
  justify-content: space-around;
  div{
    display: flex;
    justify-content: space-around;
  }
  img{
    width: 30vw;
    margin: 0 auto;
    @media (max-width: 1300px) {
      width: 70%;
    }
  }
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.text_block_2{
  width: 50%;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.btn_style_home{
  margin-top: calc($margin * 2);
  @media (max-width: 1300px) {
    margin-top: $margin;
  }
}
.girl_home_2{
  display: flex;
  width: 50%;
  justify-content: center;
  z-index: -999;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.img_home{
  width: 540px;
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
}
.button_home{
  text-decoration: none;
  color: black;
  font-size: $Font32;
  background-color: white;
  padding: 7px 33px 7px 33px;
  border-radius: 33px;
  transition: all .4s ease-in-out;
  display: inline-flex;
  @media (max-width: 500px) {
    font-size: 16px;
  }
}
.hand_point{
  opacity: 0;
  margin-left: -63px;
  margin-right: 15px;
  transition: all .4s ease-in-out;
}
.button_home:hover{
  color: #5DE100;
  .hand_point{
    display: inline;
    opacity: 1;
    margin-left: 0;
  }
}
.block3_text{
  width: 50%;
  h1{
    font-size: $Font64;
    border-top: $borderText;
    @media (max-width: 500px) {
      font-size: 32px;
    }
  }
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.block3_text > div > p{
  font-size: $Font32;
  margin-top: calc($margin);
  border-top: $borderText;
  @media (max-width: 1300px) {
    margin-top: calc($margin / 2);
  }
  @media (max-width: 500px) {
    font-size: 16px;
  }
}
.collabGirl{
  width: 50vw;
  height: 100vh;
  position: relative;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
//blob
.blob > div{
  display: flex;
  width: 90%;
  height: 80vh;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
// FIXED Scroll Line
.fixedRightBox{
  position: fixed;
  height: 100vh;
  width: 65px;
  right: 0;
  z-index: 999;
}
.scroolBox{
  background-color: rgb(243, 61, 110);
  width: 8px;
  height: 52vh;
  margin: 15vh auto;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
}
.progress_bar{
  width: 100%;
  background-color: #5de100;
  border-radius: 25px;
}
.collab_block_text{
  width: 50%;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.footer_home{
  margin-top: calc(($margin * 3.5)* -1);
  @media (max-width: 1300px) {
    margin-top: calc(($margin * 2.7)* -1);
  }
}