@tailwind base;
@tailwind components;
@tailwind utilities;
$margin: 64px;
$marginTop: 144px;
$borderText: 4px solid #87F03C;
$Font64: 64px;
$Font32: 32px;
$Font16: 16px;
$letterspace200: 10px;
$letterspace100: 3px;
@font-face {
    font-family: hot_look;
    src: url("assets/FRACTAL.ttf") format('truetype');
}
*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body {
    background: linear-gradient(89.817854409483deg , rgba(39,0,10,255) 0%, rgba(36,0,33,255) 100%);
    color: wheat;
    font-family: hot_look;
    letter-spacing: 3px;
    min-height: 120vh;
}
.background_lines{
    position: fixed;
    top: 0;
    background: repeating-linear-gradient(
                    to right,
                    rgba(246, 186, 82, 0),
                    rgba(246, 186, 82, 0) 200px,
                    #ffffff 1px,
                    rgb(255, 255, 255) 203px
    );
    width: 100vw;
    height: 100vh;
    z-index: -999;
    opacity: .5;
}
button{
    color: white;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    font-family: hot_look;
    letter-spacing: 2px;
}
a{
    color: white;
    text-decoration: none;
    font-size: $Font32;
    @media (max-width: 500px) {
        font-size: 16px;
    }
}
a:hover{
    color: #87F03C;
    transition: all .3s ease-in-out;
}
h1, p{
    cursor: default;
}
//SCROLL BAR
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #e7003e;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5de100;
}
::-webkit-scrollbar-track {
    background: #710067;
}