@import "../../index";
.hotlook_text{
  h1{
    font-size: $Font64;
    letter-spacing: $letterspace200;
    border-top: $borderText;
  }
  p{
    font-size: $Font32;
    border-bottom: $borderText;
    letter-spacing: $letterspace100;
  }
}